# - - - - - - - - - -MYSQL连接及备份配置- - - - - - - - - - #
[BACKUP]
user=backup
password=xxx
port=3306
host=localhost
mysqldump_path = /usr/bin/mysqldump
innobackupex_path = /usr/bin/innobackupex
my_cnf = /etc/my.cnf
backup_path = /opt/backup
reserve_days = 1

# - - - - - - - - - -异地备份,使用ssh连接- - - - - - - - - - #
[REMOTE]
user=ubuntu
password=xxx
port=22
host=127.0.0.1
backup_path = /opt/mysqlbackup/127.0.0.1
reserve_days = 10
